body{
  color: #388087;
  background-color: #F6F6F2;
  margin-left: 7%;
  margin-right: 7%;
  scroll-behavior: smooth;
}

.display-4 {
font-weight: bold;
}

#colors {
  font-weight:bold;
}

.main {
  width: 100%;
  height: 100%;
}

section {
  display: block;
  height:100%;
  width:100%;
  padding: 60px;
  padding-left: 120px;
  box-sizing:border-box;
}

nav {
  margin: 1em;
}

nav li{
  font-size: 1.5em;
}

nav span b {
  font-size: 2em;
}

a {
    color: #F6F6F2;
  }


h1{
   color:  #388087;
}
img {
  height: 600px;
}
