body{

    background-color: #F6F6F2;

}

nav {
  background-color: #badfe7;
}
nav a {
  color: #388087;
}

a {
    color: #F6F6F2;
  }


h1{

   color:  #388087;

}
img {
  height: 600px;
  width: 600px;
}

.container {
  height: 100vh;
}

.col {
  background-color: #badfe7;
}